<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <link rel="shortcut icon" href="../static/web/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="../static/web/images/favicon.ico">

    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/web/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
<!--    <script defer src="../static/web/css/fontawesome-5.15.4-web/js/all.js"></script>-->
<!--    <script defer src="../static/web/css/fontawesome-5.15.4-web/js/brands.js"></script>-->
<!--    <script defer src="../static/web/css/fontawesome-5.15.4-web/js/solid.js"></script>-->
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/all.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/all.css}">
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/fontawesome.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/fontawesome.css}">
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/brands.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/brands.css}">
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/solid.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/solid.css}">
    <link rel="stylesheet" type="text/css" href="../static/web/css/home.css"  th:href="@{/web/css/home.css}">
    <script src="../static/web/js/home.js" th:src="@{/web/js/home.js}"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>
<body onload="document.body.style.opacity='1'">

<!--ALBUM CREATE MODAL-->
<div class="pre-upload-image-modal" id="create-album-modal">
    <div class="pre-upload-image-modal-content" id="pre-upload-content">
        <div class="pre-upload-image-wrapper">
            <img id="pre-upload-image" th:src="@{/web/images/album.jpg}" src="../static/web/images/album.jpg" alt=""/>
        </div>
        <div class="pre-upload-image-details create-album-details-wrapper">
            <form id="album-create-form-title">
                <input type="hidden" name="albumId" id="album-id">
                <h3>Title</h3>
                <input type="text" name="albumName" id="album-name" placeholder="Album name" required>
                <div class="album-create-btns">
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-title-next">
                        Next
                    </button>
                </div>
            </form>

            <form id="album-create-form-images" enctype="multipart/form-data">
                <h3>Select Images</h3>
                <p class="paragraph-color">Select images you want to add right now</p>
                <div class="album-image-select-buttons-container">
                    <button type="button" class="edit-cred-btn placeholder-create-btn" id="album-create-gallery-select">Select from gallery</button>
                    <input type="hidden" name="imageId" id="image-id">
                        <div>
                            <label class="edit-cred-btn placeholder-create-btn" for="uploaded_image_to_album"><i class="fas fa-upload"></i>&nbsp;&nbsp;Browse computer</label>
                            <input style="display: none" type="file" multiple accept="image/*" class="form-control-file" id="uploaded_image_to_album" name="uploaded_image[]">
                        </div>
                </div>
                <div id="album-create-selected-images-preview-container"></div>
                <div class="album-create-btns">
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-images-back">
                        Back
                    </button>
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-images-next">
                        Next
                    </button>
                </div>
            </form>
            <form id="album-create-form-comment">
                <h3>Add Comment</h3>
                <input type="text" name="albumComment" id="album-comment" placeholder="What's so special about this album?" required>
                <div class="album-create-btns">
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-comment-back">
                        Back
                    </button>
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-comment-next">
                        Next
                    </button>
                </div>
            </form>

            <form id="album-create-form-access-type">
                <h3>Access type</h3>
                <select id="accessType">
                    <option
                            th:each="type : ${accessTypes}"
                            th:value="${type}"
                            th:text="${type}"
                    >
                    </option>
                </select>
                <div class="album-create-btns">
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-access-type-back">
                        Back
                    </button>
                    <button type="button" class="home-title-bar-buttons" id="album-create-form-access-type-submit">
                        Create album
                    </button>
                </div>
            </form>

            <div class="form-steps">
                <div id="progress-step"></div>
                <div class="step"><p>Title</p></div>
                <div class="step"><p>Images</p></div>
                <div class="step"><p>Comment</p></div>
                <div class="step"><p>Access type</p></div>
            </div>
        </div>
    </div>
</div>

<!--ALBUM EDIT MODAL-->
<div class="pre-upload-image-modal" id="album-details-edit-modal">
    <div class="edit-details-container">
        <div class="edit-modal-title">
            <h5>Album details</h5>
        </div>
        <form action="#" id="album-info-edit-form" th:action="@{/web/albums/edit-album-details}" th:object="${albumModel}" method="POST">
            <input type="hidden" name="album_id" id="album_id" th:field="*{albumId}">
            <h6><i class="fas fa-heading edit-form-icons"></i>Album name</h6>
            <input type="text" class="image-info-labels" name="album_name" id="album_name" th:field="*{albumName}">
            <h6><i class="fas fa-fingerprint edit-form-icons"></i>Access type</h6>
            <select id="album_access_type" th:field="*{albumAccessType}">
                <option
                        th:each="type : ${accessTypes}"
                        th:value="${type}"
                        th:text="${type}"
                >
                </option>
            </select>
            <h6><i class="fas fa-calendar-day edit-form-icons"></i>Date created</h6>
            <input type="text" class="image-info-labels" disabled="disabled" name="album_date_created" id="album_date_created">
            <br>
            <form action="#">
                <label for="album_comment"><h6><i class="fas fa-comment-dots edit-form-icons"></i>Comment</h6></label>
                <br>
                <textarea id="album_comment" name="album_comment" placeholder="Type comment..." th:field="*{albumComment}">

                </textarea>
            </form>
            <br>
            <div class="profile-buttons-container edit-details-buttons-container">
                <button type="submit" class="profile-buttons edit-cred-btn" id="album-info-edit-btn" style="padding: 10px 25px;">Save changes</button>
                <button type="button" class="profile-buttons" onclick="closeWindow('album-details-edit-modal')">Close</button>
            </div>
        </form>
    </div>
</div>

<!--IMAGES FROM GALLERY DISPLAYED HERE-->
<div id="album-create-select-gallery-images-container">
    <div id="album-create-gallery-images-add-btn-container"><button type="submit" class="edit-cred-btn placeholder-create-btn" id="add-gallery-images-btn-album-create">Add selected images</button></div>
    <div th:unless="${#lists.size(images) == 0}" id="album-create-gallery-images">
        <div class="album-create-gallery-image-wrapper" th:each="img : ${images}">
            <label class="tickLabel" for="tick">
                <input type="checkbox" class="tick" id="tick" name="tick">
            </label>
            <img class="display-image gallery-select-image" th:src="@{${'/web/home/image/' + img.getImageId()}}" alt="">
        </div>
    </div>
</div>

<div id="people_list_bg">
    <div id="people_list_container">
        <div class="container-top">
            <p id="image_share_success"></p>
            <button type="button" onclick="closeWindow('people_list_bg')" class="edit-cred-btn">Close</button>
        </div>
        <div class="main-content-placeholder" th:if="${#lists.size(people)==0}">
            <img class="placeholder-icon" src="../static/web/images/tag.png" th:src="@{/web/images/tag.png}" alt="Empty state image">
            <p>There are no more registered users</p>
        </div>

        <div class="people-list-container" th:unless="${#lists.size(people) == 0}">
            <div class="user-info-wrapper" th:each="registered_user : ${people}">
                <!--                    <input type="text" name="to_user_id" id="to_user_id" th:field="*{toUserId}" th:value="${registered_user.getId()}">-->
                <div class="image-outer-area-top-bar">
                    <div class="image-inner-area-top-bar">
                        <img th:if="${registered_user.getUser_image() != null}" class="profile-image"
                             th:src="@{${'/web/people/getUserProfileImg/' + registered_user.getId()}}" alt="Profile image">
                        <img th:unless="${registered_user.getUser_image() != null}" class="profile-image"
                             src="../static/web/images/default_profile_pic.png" th:src="@{/web/images/default_profile_pic.png}" alt="Profile image">
                    </div>
                </div>
                <div class="people-item-descr-wrapper">
                    <p>Full Name</p>
                    <h6 th:text="${registered_user.getFirstname()} + ' ' + ${registered_user.getLastname()}">Full Name</h6>
                </div>
                <div class="people-item-descr-wrapper">
                    <p>Username</p>
                    <h6 th:text="${registered_user.getUsername()}">Username</h6>
                </div>
                <div class="people-item-descr-wrapper">
                    <p>Date registered</p>
                    <h6 th:text="${registered_user.getDate()}">Date</h6>
                </div>
                <div class="people-item-buttons">
                    <!--                    <form id="friend-request-form" action="#" th:action="@{/home/share-image/to/(userId=${registered_user.getId()})}" method="post">-->
                    <!--                        <input class="profile-buttons" type="submit" value="Share">-->
                    <!--                    </form>-->
                    <input class="profile-buttons" type="submit" th:onclick="'shareAlbum(' + ${registered_user.getId()} + ')'" value="Share">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="side-nav">
        <div class="side-nav-title">
            <h3>Albums</h3>
        </div>
        <div class="nav-user-info">
            <div class="image-outer-area-top-bar">
                <div class="image-inner-area-top-bar">
                    <img th:if="${user.getUser_image() != null}" class="profile-image"
                         th:src="@{'/web/profile/getUserProfileImg'}" alt="Profile image">
                    <img th:unless="${user.getUser_image() != null}" class="profile-image"
                         src="../static/web/images/default_profile_pic.png" th:src="@{/web/images/default_profile_pic.png}" alt="Profile image">
                </div>
            </div>
            <div class="nav-user-details">
                <p class="nav-greeting">Hello <span th:text="${user.firstname}"></span></p>
                <p class="nav-user-id-color">User #<span class="nav-user-id" th:text="${user.id}"></span></p>
            </div>
        </div>
        <ul>
            <li><a th:href="@{/web/home}"><i class="far fa-images side-nav-icons"></i>Photos</a></li>
            <li><a th:href="@{/web/albums}"><i class="far fa-folder-open side-nav-icons"></i>Albums</a></li>
            <li><a th:href="@{/web/requests}"><i class="far fa-question-circle side-nav-icons"></i><span>Requests</span></a></li>
            <li><a th:href="@{/web/received-files}"><i class="fas fa-share-alt side-nav-icons"></i><span>Received files</span></a></li>
            <li><a th:href="@{/web/friends}"><i class="fas fa-user-friends side-nav-icons"></i>Friends</a></li>
            <li><a th:href="@{/web/people}"><i class="fas fa-users side-nav-icons"></i>People</a></li>
            <li><a th:href="@{/web/profile}"><i class="far fa-address-card side-nav-icons"></i>Profile</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="home-title-bar sticky-top">
            <div id="home-title-bar-menu">
<!--                <form action="#" th:action="@{/home/upload-image}" th:object="${imageModel}" enctype="multipart/form-data" method="POST">-->
<!--                    <input type="hidden" name="imageId" id="image-id" th:field="*{imageId}">-->
<!--                    <div class="home-title-bar-options">-->
<!--                        <div>-->
<!--                            <label class="home-title-bar-buttons" for="uploaded_image">Choose image</label>-->
<!--                            <input style="display: none" type="file" accept="image/*" class="form-control-file" id="uploaded_image" name="uploaded_image" th:field="*{uploaded_image}">-->
<!--                            <button class="home-title-bar-buttons" type="submit">Upload</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
                <div class="home-title-bar-options">
                    <button type="button" class="home-title-bar-buttons album-create-btns-nav"><i class="fas fa-plus-circle icons"></i>&nbsp;&nbsp;Create album</button>
                </div>
                <form action="#" th:action="@{/web/logout}" method="POST">
                    <button class="home-title-bar-buttons edit-cred-btn" type="submit" id="logout-btn">Logout</button>
                </form>
            </div>
        </div>
        <div class="main-content-placeholder" th:if="${#lists.size(albums)==0}">
<!--            <i class="far fa-images fa-3x placeholder-icon"></i>-->
            <img class="placeholder-icon" src="../static/web/images/folder.png" th:src="@{/web/images/folder.png}" alt="Empty state image">
            <p>You don't have any albums</p>
            <button type="button" class="edit-cred-btn placeholder-create-btn album-create-btns-nav">Create album</button>
        </div>
        <div class="title-outer-container" th:unless="${#lists.size(albums) == 0}">
            <div class="user-list-title">
                <h5 th:text="${user.getFirstname() + '''s albums'}">Users albums</h5>
            </div>
        </div>

        <div th:unless="${#lists.size(albums) == 0}" class="outer-album-container">
            <div class="album-item" th:each="album : ${albums}">
                <div class="album-cover" th:if="${#lists.size(album.getAlbum_images()) < 3}">
                    <img class="display-image album-cover-main-img" src="../static/web/images/album.jpg" th:src="@{/web/images/album.jpg}" th:if="${#lists.size(album.getAlbum_images()) == 0}">
                    <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + album.getAlbum_images().get(0).getImageId()}}" th:unless="${#lists.size(album.getAlbum_images()) == 0}">
                </div>
                <div class="album-cover album-cover-multiple" th:if="${#lists.size(album.getAlbum_images()) >= 3}">
                    <div class="album-cover-main-img-container">
                        <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + album.getAlbum_images().get(0).getImageId()}}">
                    </div>
                    <div class="album-cover-multiple-imgs">
                        <div class="album-cover-small-img">
                            <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + album.getAlbum_images().get(1).getImageId()}}">
                        </div>
                        <div class="album-cover-small-img">
                            <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + album.getAlbum_images().get(2).getImageId()}}">
                        </div>
                    </div>
                </div>
                <div class="album-short-info">
                    <div class="album-menu-options" id="t">
                        <ul>
                            <li><a th:href="@{/web/albums/viewAlbum/(albumId=${album.getId()})}"><i class="far fa-eye"></i>View</a></li>
                            <li><a th:albumId="${album.getId()}" onclick="passAlbumId(this.getAttribute('albumId'))" href="#"><i class="fas fa-share"></i>Share</a></li>
                            <li><a th:href="@{/web/albums/delete-album/(albumId=${album.getId()})}"><i class="far fa-trash-alt"></i>Delete</a></li>
                        </ul>
                    </div>
                    <div class="album-short-info-div1">
                        <div class="album-short-info-details">
                            <p th:text="${'Title: ' + album.getName()}">Title: Wedding album</p>
                            <p th:text="${'Date created: ' + album.getDate_created()}">Date created: 02/09/2020</p>
                            <p th:text="${album.getAlbum_images().size() + ' images'}">0 images</p>
                        </div>
                        <div class="album-short-info-details">
                            <i class="fas fa-ellipsis-v album-item-dot-icon" onclick ="showMenu(this);"></i>
                        </div>
                    </div>
                    <div class="album-short-info-div2">
                        <span th:text="${album.getAlbumAccessType()}">Public</span>
                        <div class="album-short-info-buttons">
                            <a th:href="@{/web/albums/viewAlbum/(albumId=${album.getId()})}">View album</a>
                            <button type="button" th:albumId="${album.getId()}" th:albumName="${album.getName()}"
                                    th:albumComment="${album.getComment()}" th:albumAccessType="${album.getAlbumAccessType()}" th:albumDateCreated="${album.getDate_created()}"
                            onclick="showAlbumDetailsEditModal(this.getAttribute('albumId'),this.getAttribute('albumName'), this.getAttribute('albumComment'), this.getAttribute('albumAccessType'),this.getAttribute('albumDateCreated'))">Edit details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script src="../static/web/js/jquery-3.6.0.js" th:src="@{/web/js/jquery-3.6.0.js}"></script>


<script>

    const album_create_gallery_preview_bg = document.getElementById("album-create-select-gallery-images-container");
    const album_create_gallery_open = document.getElementById("album-create-gallery-select");
    const album_create_gallery_images = document.getElementById("album-create-gallery-images");
    let children_gallery_images;

    const form_title = document.getElementById("album-create-form-title");
    const form_images = document.getElementById("album-create-form-images");
    const form_comment = document.getElementById("album-create-form-comment");
    const form_access_type = document.getElementById("album-create-form-access-type");

    const form_title_next = document.getElementById("album-create-form-title-next");
    const form_images_back = document.getElementById("album-create-form-images-back");
    const form_images_next = document.getElementById("album-create-form-images-next");
    const form_comment_back = document.getElementById("album-create-form-comment-back");
    const form_comment_next = document.getElementById("album-create-form-comment-next");
    const form_access_type_back = document.getElementById("album-create-form-access-type-back");
    const form_access_type_submit = document.getElementById("album-create-form-access-type-submit");

    const images_selected_during_album_create = document.getElementById("uploaded_image_to_album");
    const album_create_images_preview_container = document.getElementById("album-create-selected-images-preview-container")

    let album_image_select = document.getElementsByClassName("gallery-select-image");
    let album_image_select_checkbox = document.getElementsByClassName("tick");

    const add_gallery_images_btn_album_create = document.getElementById("add-gallery-images-btn-album-create");

    const people_list = document.getElementById("people_list_bg");
    const token = $("meta[name='_csrf']").attr("content");

    let selected_gallery_images_on_album_create = [];
    let checked_indexes = [];

    $(album_create_gallery_open).on('click', function (){
        album_create_gallery_preview_bg.style.display = "flex";
        album_create_gallery_images.style.display = "flex";
    });

    // $(document).ready(function (){
    //     $("#album-create-gallery-images div").click(function() {
    //         let index = $(this).index();
    //         if(album_image_select_checkbox[index].checked === false){
    //             album_image_select_checkbox[index].checked = true
    //             album_create_images_preview_container.appendChild(album_image_select[index]);
    //             checked_indexes.push(index);
    //             //selected_gallery_images_on_album_create.push(album_image_select[index]);
    //         }
    //         else if(album_image_select_checkbox[index].checked === true){
    //             let temp_index = checked_indexes.indexOf(index);
    //             album_image_select_checkbox[index].checked = false
    //             album_create_images_preview_container.removeChild(album_image_select[index]);
    //             //selected_gallery_images_on_album_create.splice(temp_index,1);
    //             checked_indexes.splice(temp_index,1);
    //         }
    //     });
    // })

    //This function is executed each time a user clicks on an image when selecting images from a
    //gallery to add to an album during album creation process
    $(document).ready(function() {
        //Captures onclick of each item inside a div with specified id
        $("#album-create-gallery-images div").click(function() {
            //Index within a list of child elements
            let index = $(this).index();

            //If clicked item is not checked, it becomes checked.
            if(album_image_select_checkbox[index].checked === false){
                album_image_select_checkbox[index].checked = true
                //Adding checked image to an array of checked images
                selected_gallery_images_on_album_create.push(album_image_select[index]);
                //Adding image index to a separate array
                checked_indexes.push(index);
                // console.log(checked_indexes);
                // console.log("LENGTH INDEXES=" + checked_indexes.length);
                // console.log("LENGTH=" + selected_gallery_images_on_album_create.length);
            }
            //If clicked item is checked, means user wants to uncheck it
            else if(album_image_select_checkbox[index].checked === true){
                //let temp_index = selected_gallery_images_on_album_create.indexOf(album_image_select[index]);
                //Getting its original index
                let temp_index = checked_indexes.indexOf(index);
                //Image gets unchecked
                album_image_select_checkbox[index].checked = false
                //And removed from an array of checked iamges
                selected_gallery_images_on_album_create.splice(temp_index,1);
                //Index is no longer needed as it is no longer checked
                checked_indexes.splice(temp_index,1);
                // console.log(checked_indexes);
                // console.log("LENGTH INDEXES=" + checked_indexes.length);
                // console.log("LENGTH=" + selected_gallery_images_on_album_create.length);
            }

            //console.log("Index " + index + " was clicked")
        });
    });


    //When user has selected images from a gallery and wished to add them to the album during its creation
    $(add_gallery_images_btn_album_create).on('click', function (){
        //If user has selected at least 1 image
        if(selected_gallery_images_on_album_create.length > 0){
            children_gallery_images = album_create_gallery_images.querySelectorAll(".album-create-gallery-image-wrapper");
            for(let i = 0;i < checked_indexes.length;i++){
                //Unchecking selected images in case user would want to add more images from gallery
                album_image_select_checkbox[checked_indexes[i]].checked = false;
                //And disabling any click events on already selected items
                children_gallery_images[checked_indexes[i]].style.pointerEvents = "none";
            }
            //Showing selected images in separate container
            $(album_create_images_preview_container).css('display', 'flex');
            //For a length of selected items
            for(let i = 0;i < selected_gallery_images_on_album_create.length;i++){
                //Creating a new div container
                let img_container = document.createElement('div');
                //Class is added
                img_container.className = 'album-image-preview-container';
                selected_gallery_images_on_album_create[i].className = 'album-image-preview';
                selected_gallery_images_on_album_create[i].removeAttribute("onclick");
                img_container.appendChild(selected_gallery_images_on_album_create[i]);
                //Appending all selected from a gallery images to a preview container
                album_create_images_preview_container.appendChild(img_container);
            }
        }
        //Closing a window with gallery images
        album_create_gallery_preview_bg.style.display = "none";
        //Removing all elements from an array that contained images selected from gallery
        //as we need an empty array each time a user opens a window
        //selected_gallery_images_on_album_create.splice(0,selected_gallery_images_on_album_create.length);
    });

    //If user has chosen images from the device
    $(images_selected_during_album_create).on('change', function (event){
        let fragment = document.createDocumentFragment();
        for(let i = 0;i < event.target.files.length;i++){
            let img_container = document.createElement('div');
            let img = document.createElement('img');
            img.className = 'album-image-preview';
            img_container.className = 'album-image-preview-container';
            img_container.appendChild(img);
            img.src = URL.createObjectURL(event.target.files[i]);
            fragment.appendChild(img_container);
        }
        album_create_images_preview_container.style.display = "flex";
        album_create_images_preview_container.appendChild(fragment);
    });

    const create_album_top_nav = document.getElementsByClassName("album-create-btns-nav")[0];
    const create_album_placeholder = document.getElementsByClassName("album-create-btns-nav")[1];
    const create_album_modal = document.getElementById("create-album-modal");


    $(create_album_top_nav).on('click', function (){
        create_album_modal.style.display = "flex";
    });


    $(create_album_placeholder).on('click', function (){
        create_album_modal.style.display = "flex";
    });

    window.onclick = function(event) {
        if (event.target === create_album_modal) {
            // album_create_images_preview_container.style.display = "none";
            create_album_modal.style.display = "none";
            if(selected_gallery_images_on_album_create.length > 0){
                selected_gallery_images_on_album_create.splice(0,selected_gallery_images_on_album_create.length);
            }
        }
        if(event.target === album_create_gallery_preview_bg){
            album_create_gallery_preview_bg.style.display = "none";
            album_create_gallery_images.style.display = "none";
            if(selected_gallery_images_on_album_create.length > 0){
                selected_gallery_images_on_album_create.splice(0,selected_gallery_images_on_album_create.length);
            }
        }
    }

    const progress_step = document.getElementById("progress-step");

    form_title_next.addEventListener('click', function (){
        form_title.style.left = "-700px";
        form_images.style.left = "20px";
        progress_step.style.width = "50%";
    })

    form_images_back.addEventListener('click', function (){
        form_title.style.left = "20px";
        form_images.style.left = "700px";
        progress_step.style.width = "25%";
    })

    form_images_next.addEventListener('click', function (){
        form_images.style.left = "-700px";
        form_comment.style.left = "20px";
        progress_step.style.width = "75%";
    })

    form_comment_back.addEventListener('click', function (){
        form_images.style.left = "20px";
        form_comment.style.left = "700px";
        progress_step.style.width = "50%";
    })

    form_comment_next.addEventListener('click',function (){
        form_comment.style.left = "-700px";
        form_access_type.style.left = "20px";
        progress_step.style.width = "100%";
    })

    form_access_type_back.addEventListener('click', function (){
        form_comment.style.left = "20px";
        form_access_type.style.left = "700px";
        progress_step.style.width = "75%";
    })

    $(form_access_type_submit).on('click', function (event){
        const id = document.getElementById("album-id");
        const name = document.getElementById("album-name");
        const comment = document.getElementById("album-comment");
        const accessType = document.getElementById("accessType");
        const images = document.getElementById("uploaded_image_to_album").files;
        //console.log('IMAGES ' + images.length);

        event.preventDefault();


        let albumImages = [];

        let image = {};
        let albumImagesFormData = new FormData();

        const i = id.value;
        const n = name.value;
        const c = comment.value;
        const acc = accessType.value;


        let AlbumModel = [];

        AlbumModel.push({
                'albumName' : n,
                'albumComment': c,
                'albumAccessType' : acc
        })

        albumImagesFormData.append('albumInfo', JSON.stringify(AlbumModel));
        let obj = []

        for(let i = 0;i < images.length;i++){
            albumImagesFormData.append('uploaded_image[' + i + ']',images[i]);
        }

        if(selected_gallery_images_on_album_create.length > 0){
            for(let i = 0;i < selected_gallery_images_on_album_create.length;i++){
                albumImagesFormData.append('img[' + i + ']',selected_gallery_images_on_album_create[i].src);
            }
        }

        for (let pair of albumImagesFormData.entries()) {
            console.log(pair[0]+ ', ' + pair[1]);
        }

        const token = $("meta[name='_csrf']").attr("content");

        // $.ajax({
        //     type: "POST",
        //     contentType : "application/json",
        //     url: '/albums/create-album',//do not put the full url,you need use an absolute url
        //     data: JSON.stringify(AlbumModel),
        //     headers: {"X-CSRF-TOKEN" : token},
        //     dataType: 'application/json',
        //     success: function () {
        //         alert("Album created successfully");
        //     }
        //     });

            $.ajax({
                type: "POST",
                url: '/web/albums/create-album',//do not put the full url,you need use an absolute url
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: albumImagesFormData,
                headers: {"X-CSRF-TOKEN" : token},
                success: function () {
                    //Removing all elements from an array that contained images selected from gallery
                    //as we need an empty array each time a user opens a window
                    selected_gallery_images_on_album_create.splice(0,selected_gallery_images_on_album_create.length);
                    location.reload();
                    //alert("Album created successfully");
                }
            });
    });

    let it = document.getElementById("first");
    let item = document.getElementsByClassName("album-menu-options")[0];

    const outer_container = document.getElementById("main-content-outer-container");

    let dots = document.getElementsByClassName("album-item-dot-icon");
    let menus = document.getElementsByClassName("album-menu-options");
    let menu = document.getElementsByClassName("album-menu-options")[-1];

    function showMenu(img) {
        for(let i = 0;i < dots.length;i++){
            menu = menus[i];
            if(dots[i] === img){
                $(menu).toggle( "fast", function() {});
            }
        }
    }

    function showImageInfoModal(imageId, imageName, imageSize, imageExt, imgComment) {
        $('#image-info-img-id').val(imageId ? imageId : '');
        $('#image-info-img').attr("src", "/web/home/image/" + imageId);
        $('#image-info-img-name').val(imageName ? imageName : '');
        $('#image-info-img-size').val(imageSize ? imageSize + " kb" : '');
        $('#image-info-img-extension').val(imageExt ? imageExt : '');
        $('#image-info-img-comment').val(imgComment ? imgComment : '');
        $('#image-info-modal').css({"display": "flex","justify-content":"center","align-items":"center"});
    };

    function showAlbumDetailsEditModal(albumId,albumName,albumComment,albumAccessType,albumDateCreated){
        $('#album_id').val(albumId ? albumId : '');
        $('#album_name').val(albumName? albumName : '');
        $('#album_comment').val(albumComment ? albumComment : '');
        $('#album_access_type').val(albumAccessType ? albumAccessType : '');
        $('#album_date_created').val(albumDateCreated ? albumDateCreated : '');
        $('#album-details-edit-modal').css({"display": "flex","justify-content":"center","align-items":"center"});
    };

    $('#album-info-edit-btn').on('click',function (){
        $('#album-info-edit-form').trigger("submit");
    });

    function closeWindow(elementId){
        document.getElementById(elementId).style.display = "none";
    }


    let albumToShare;

    function passAlbumId(albumId) {
        people_list.style.display = "flex";
        albumToShare = albumId;
    }

    let image_share_success = document.getElementById("image_share_success");

    function displaySuccessMsg(){
        setTimeout(() => {
            image_share_success.style.display = "none";
        }, 2000);
    }

    function shareAlbum(user_id){
        if(albumToShare !== ''){
            //alert(albumToShare + ' ' + user_id);
            $.ajax({
                type: "POST",
                url: '/web/albums/share-album/to/?userId=' + user_id + '&albumId=' + albumToShare,
                contentType : "application/json",
                dataType: "text",
                headers: {"X-CSRF-TOKEN" : token},
                success: function () {
                    image_share_success.style.display = "block";
                    image_share_success.innerHTML = "Request successful";
                    displaySuccessMsg();
                    location.reload();
                }
            });
        }
        albumToShare = '';
    }

</script>
</body>
</html>