<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
    <script defer src="../static/css/fontawesome-5.15.4-web/js/all.js"></script>
    <script defer src="../static/css/fontawesome-5.15.4-web/js/brands.js.js"></script>
    <script defer src="../static/css/fontawesome-5.15.4-web/js/solid.js.js"></script>
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/all.css" th:href="@{/css/fontawesome-5.15.4-web/css/all.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/fontawesome.css" th:href="@{/css/fontawesome-5.15.4-web/css/fontawesome.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/brands.css" th:href="@{/css/fontawesome-5.15.4-web/css/brands.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/solid.css" th:href="@{/css/fontawesome-5.15.4-web/css/solid.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css"  th:href="@{/css/home.css}">
    <script src="../static/js/home.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>

<body onload="document.body.style.opacity='1'">

<div class="content">
    <div class="side-nav">
        <div class="side-nav-title">
            <h3>Photos</h3>
        </div>
        <div class="nav-user-info">
            <div class="image-outer-area-top-bar">
                <div class="image-inner-area-top-bar">
                    <img th:if="${user.getUser_image() != null}" class="profile-image"
                         th:src="@{'/profile/getUserProfileImg'}" alt="Profile image">
                    <img th:unless="${user.getUser_image() != null}" class="profile-image"
                         src="../static/images/default_profile_pic.png" th:src="@{/images/default_profile_pic.png}" alt="Profile image">
                </div>
            </div>
            <div class="nav-user-details">
                <p class="nav-greeting">Hello <span th:text="${user.firstname}"></span></p>
                <p class="nav-user-id-color">User #<span class="nav-user-id" th:text="${user.id}"></span></p>
            </div>
        </div>
        <ul>
            <li><a th:href="@{/web/home}"><i class="far fa-images side-nav-icons"></i><span>Photos</span></a></li>
            <li><a th:href="@{/web/albums}"><i class="far fa-folder-open side-nav-icons"></i><span>Albums</span></a></li>
            <li><a th:href="@{/web/requests}"><i class="far fa-question-circle side-nav-icons"></i><span>Requests</span></a></li>
            <li><a th:href="@{/web/received-files}"><i class="fas fa-share-alt side-nav-icons"></i><span>Received files</span></a></li>
            <li><a th:href="@{/web/friends}"><i class="fas fa-user-friends side-nav-icons"></i><span>Friends</span></a></li>
            <li><a th:href="@{/web/people}"><i class="fas fa-users side-nav-icons"></i><span>People</span></a></li>
            <li><a th:href="@{/web/profile}"><i class="far fa-address-card side-nav-icons"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="home-title-bar sticky-top">
            <div id="home-title-bar-menu">
                <form action="#" th:action="@{/web/logout}" method="POST">
                    <button class="home-title-bar-buttons edit-cred-btn" type="submit" id="logout-btn">Logout</button>
                </form>
            </div>
        </div>
        <div class="main-content-placeholder" th:if="${#lists.size(sentImageRequests)==0}">
            <img class="placeholder-icon" src="../static/images/folder_images.png" th:src="@{/images/folder_images.png}" alt="Empty state image">
            <p>You haven't received any images or albums yet</p>
        </div>

        <!--RECEIVED IMAGES-->
        <div class="title-outer-container" th:unless="${#lists.size(sentImageRequests) == 0}">
            <div class="user-list-title">
                <h5>Received images</h5>
            </div>
        </div>
        <div th:unless="${#lists.size(sentImageRequests) == 0}" class="outer-container-for-images">
            <div class="image-container" th:each="savedImageRequest : ${sentImageRequests}">
                <img class="display-image" th:src="@{${'/home/image/' + savedImageRequest.getImage().getImageId()}}" onclick="openLightbox();toSlide(this)" alt="">
            </div>
        </div>

        <!--RECEIVED ALBUMS-->
        <div class="title-outer-container" th:unless="${#lists.size(sentAlbumRequests) == 0}">
            <div class="user-list-title">
                <h5>Received albums</h5>
            </div>
        </div>
        <div th:unless="${#lists.size(sentAlbumRequests) == 0}" class="outer-album-container">
            <div class="album-item" th:each="savedAlbumRequest : ${sentAlbumRequests}">
                <div class="album-cover" th:if="${#lists.size(savedAlbumRequest.getAlbum().getAlbum_images()) < 3}">
                    <img class="display-image album-cover-main-img" src="../static/images/album.jpg" th:src="@{/images/album.jpg}" th:if="${#lists.size(savedAlbumRequest.getAlbum().getAlbum_images()) == 0}">
                    <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + savedAlbumRequest.getAlbum().getAlbum_images().get(0).getImageId()}}" th:unless="${#lists.size(savedAlbumRequest.getAlbum().getAlbum_images()) == 0}">
                </div>
                <div class="album-cover album-cover-multiple" th:if="${#lists.size(savedAlbumRequest.getAlbum().getAlbum_images()) >= 3}">
                    <div class="album-cover-main-img-container">
                        <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + savedAlbumRequest.getAlbum().getAlbum_images().get(0).getImageId()}}">
                    </div>
                    <div class="album-cover-multiple-imgs">
                        <div class="album-cover-small-img">
                            <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + savedAlbumRequest.getAlbum().getAlbum_images().get(1).getImageId()}}">
                        </div>
                        <div class="album-cover-small-img">
                            <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + savedAlbumRequest.getAlbum().getAlbum_images().get(2).getImageId()}}">
                        </div>
                    </div>
                </div>
                <div class="album-short-info">
                    <div class="album-menu-options">
                        <ul>
                            <li><a th:href="@{/web/requests/delete-album-request/(requestId=${savedAlbumRequest.getAlbumToSendRequestId()})}"><i class="far fa-trash-alt"></i>Delete</a></li>
                        </ul>
                    </div>
                    <div class="album-short-info-div1">
                        <div class="album-short-info-details">
                            <p th:text="${'Title: ' + savedAlbumRequest.getAlbum().getName()}">Title: Wedding album</p>
                            <p th:text="${'Date created: ' + savedAlbumRequest.getAlbum().getDate_created()}">Date created: 02/09/2020</p>
                            <p th:text="${savedAlbumRequest.getAlbum().getAlbum_images().size() + ' images'}">0 images</p>
                        </div>
                        <div class="album-short-info-details">
                            <i class="fas fa-ellipsis-v album-item-dot-icon" onclick ="showMenu(this);"></i>
                        </div>
                    </div>
                    <div class="album-short-info-div2">
<!--                        <span th:text="${savedAlbumRequest.getAlbum().getAlbumAccessType()}">Public</span>-->
                        <div class="album-short-info-buttons">
                            <a th:href="@{/web/received-files/album-gallery/(requestId=${savedAlbumRequest.getAlbumToSendRequestId()})}">View album</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="Lightbox" class="image-modal">
    <a class="close pointer" onclick="closeLightbox()">
        <i class="fas fa-times fa-1x"></i>
    </a>
    <div class="image-modal-outer">
        <div class="image-modal-content-images">
            <div class="slide" th:each="savedImageRequest : ${sentImageRequests}">
                <a class="previous" onclick="changeSlide(-1)"><i class="fas fa-caret-left fa-2x"></i></a>
                <a class="next" onclick="changeSlide(1)"><i class="fas fa-caret-right fa-2x"></i></a>
                <div class="image-options">
                    <a th:href="@{/web/home/download-image/(imageId=${savedImageRequest.getImage().getImageId()})}"><i class="fas fa-download"></i></a>
                    <a th:href="@{/web/requests/delete-image-request/(requestId=${savedImageRequest.getImageToSendRequestId()})}"><i class="far fa-trash-alt"></i></a>
                </div>
                <img th:src="@{${'/home/image/' + savedImageRequest.getImage().getImageId()}}" class="image-slide" alt="Image" />
            </div>
        </div>
        <div class="image-modal-content-info">
            <div class="image-modal-content-info-tabs-container">
                <button type="button" id="img_modal_img_details_btn" class="image-modal-content-info-tab edit-cred-btn placeholder-create-btn">Image details</button>
            </div>
            <div class="image-modal-content-img-details" th:each="savedImageRequest : ${sentImageRequests}">
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Title</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${savedImageRequest.getImage().getImage_name()}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Date uploaded</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${savedImageRequest.getImage().getDate_uploaded()}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Image size</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${savedImageRequest.getImage().getImage_size() + ' Kb'}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Category</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${savedImageRequest.getImage().getCategory()}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Tagged friends</p>
                    <p class="image-modal-content-img-details-item-content">No friends tagged</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Comment</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${savedImageRequest.getImage().getComment()}">No data available</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    'use strict';

    const slides = document.getElementsByClassName('slide');
    let image_details_list = document.getElementsByClassName('image-modal-content-img-details');

    function closeWindow(elementId){
        document.getElementById(elementId).style.display = "none";
    }

    function revealMenu(imageId){
        const el = document.getElementsByClassName("image-menu")[imageId-1];
        if(el.style.visibility === "hidden"){
            el.style.visibility = "visible";
        } else{
            el.style.visibility = "hidden";
        }
    }

    // Initializing and running showSlide() to give a lightbox a default state.

    let imageList = document.getElementsByClassName('display-image');
    let imageContainerLIST = document.getElementsByClassName('image-container');

    let slideIndex = 0;

    //console.log(slideIndex);
    //Clickable content functionality

    function openLightbox() {
        document.getElementById('Lightbox').style.display = 'flex';
    }

    function closeLightbox() {
        document.getElementById('Lightbox').style.display = 'none';
    }

    // New values are assigned to slideIndex.

    function changeSlide(n) {
        showSlide(slideIndex += n);
    }

    function toSlide(n) {
        for(let i = 0;i < imageList.length;i++){
            if(imageList[i] === n){
                slideIndex = i;
                //alert("SLIDEINDEX " + slideIndex)
                showSlide(slideIndex);
            }
        }
    }

    function showSlide(n) {
        if (n > slides.length-1) {
            //slideIndex = slides.length % n;
            slideIndex = 0;
        }

        if (n < 0) {
            slideIndex = slides.length -1;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            image_details_list[i].style.display = "none";
        }

        slides[slideIndex].style.display = 'block';
        image_details_list[slideIndex].style.display = "flex";
    }

    let dots = document.getElementsByClassName("album-item-dot-icon");
    let menus = document.getElementsByClassName("album-menu-options");
    let menu = document.getElementsByClassName("album-menu-options")[-1];

    function showMenu(img) {
        for(let i = 0;i < dots.length;i++){
            menu = menus[i];
            if(dots[i] === img){
                $(menu).toggle( "fast", function() {});
            }
        }
    }

</script>
</body>
</html>