<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <link rel="shortcut icon" href="../static/web/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="../static/web/images/favicon.ico">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/web/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
<!--    <script defer src="../static/web/css/fontawesome-5.15.4-web/js/all.js"></script>-->
<!--    <script defer src="../static/web/css/fontawesome-5.15.4-web/js/brands.js"></script>-->
<!--    <script defer src="../static/web/css/fontawesome-5.15.4-web/js/solid.js"></script>-->
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/all.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/all.css}">
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/fontawesome.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/fontawesome.css}">
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/brands.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/brands.css}">
    <link rel="stylesheet" href="../static/web/css/fontawesome-5.15.4-web/css/solid.css" th:href="@{/web/css/fontawesome-5.15.4-web/css/solid.css}">
    <link rel="stylesheet" type="text/css" href="../static/web/css/home.css"  th:href="@{/web/css/home.css}">
    <script src="../static/web/js/home.js" th:src="@{/web/js/home.js}"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>
<body onload="document.body.style.opacity='1'">
<div class="content">
    <div class="side-nav">
        <div class="side-nav-title">
            <h3>Friends</h3>
        </div>
        <div class="nav-user-info">
            <div class="image-outer-area-top-bar">
                <div class="image-inner-area-top-bar">
                    <img th:if="${user.getUser_image() != null}" class="profile-image"
                         th:src="@{'/web/profile/getUserProfileImg'}" alt="Profile image">
                    <img th:unless="${user.getUser_image() != null}" class="profile-image"
                         src="../static/web/images/default_profile_pic.png" th:src="@{/web/images/default_profile_pic.png}" alt="Profile image">
                </div>
            </div>
            <div class="nav-user-details">
                <p class="nav-greeting">Hello <span th:text="${user.firstname}"></span></p>
                <p class="nav-user-id-color">User #<span class="nav-user-id" th:text="${user.id}"></span></p>
            </div>
        </div>
        <ul>
            <li><a th:href="@{/web/home}"><i class="far fa-images side-nav-icons"></i>Photos</a></li>
            <li><a th:href="@{/web/albums}"><i class="far fa-folder-open side-nav-icons"></i>Albums</a></li>
            <li><a th:href="@{/web/requests}"><i class="far fa-question-circle side-nav-icons"></i><span>Requests</span></a></li>
            <li><a th:href="@{/web/received-files}"><i class="fas fa-share-alt side-nav-icons"></i><span>Received files</span></a></li>
            <li><a th:href="@{/web/friends}"><i class="fas fa-user-friends side-nav-icons"></i>Friends</a></li>
            <li><a th:href="@{/web/people}"><i class="fas fa-users side-nav-icons"></i>People</a></li>
            <li><a th:href="@{/web/profile}"><i class="far fa-address-card side-nav-icons"></i>Profile</a></li>
        </ul>
    </div>

    <div class="main-content" id="requests-content">
        <div class="home-title-bar sticky-top">
            <div id="home-title-bar-menu">
                <form action="#" th:action="@{/web/logout}" method="POST">
                    <button class="home-title-bar-buttons edit-cred-btn" type="submit" id="logout-btn">Logout</button>
                </form>
            </div>
        </div>

        <div class="success-message" id="successMsg">
            <p id="success-msg-text"></p>
        </div>


        <!--ALBUM ASK REQUESTS SENT BY OTHERS-->
        <div class="title-outer-container">
            <div class="user-list-title">
                <h6>Other users asked to share your album(s)</h6>
            </div>
        </div>
        <div class="request-container">
            <div class="people-list-container share-request-container">
                <div class="main-content-placeholder" th:if="${#lists.size(albumsAskedToShareByOthers)==0}">
                    <img class="placeholder-icon" src="../static/web/images/tag.png" th:src="@{/web/images/tag.png}" alt="Empty state image">
                    <p>No album share requests yet</p>
                </div>

                <div class="people-list-container" th:unless="${#lists.size(albumsAskedToShareByOthers) == 0}">
                    <div class="album-item" th:each="albumRequest : ${albumsAskedToShareByOthers}">
                        <div class="album-cover" th:if="${#lists.size(albumRequest.getAlbum().getAlbum_images()) < 3}">
                            <img class="display-image album-cover-main-img" src="../static/web/images/album.jpg" th:src="@{/web/images/album.jpg}" th:if="${#lists.size(albumRequest.getAlbum().getAlbum_images()) == 0}">
                            <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumRequest.getAlbum().getAlbum_images().get(0).getImageId()}}" th:unless="${#lists.size(albumRequest.getAlbum().getAlbum_images()) == 0}">
                        </div>
                        <div class="album-cover album-cover-multiple" th:if="${#lists.size(albumRequest.getAlbum().getAlbum_images()) >= 3}">
                            <div class="album-cover-main-img-container">
                                <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumRequest.getAlbum().getAlbum_images().get(0).getImageId()}}">
                            </div>
                            <div class="album-cover-multiple-imgs">
                                <div class="album-cover-small-img">
                                    <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumRequest.getAlbum().getAlbum_images().get(1).getImageId()}}">
                                </div>
                                <div class="album-cover-small-img">
                                    <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumRequest.getAlbum().getAlbum_images().get(2).getImageId()}}">
                                </div>
                            </div>
                        </div>
                        <div class="album-short-info">
                            <div class="album-short-info-div1">
                                <div class="album-short-info-details">
                                    <p th:text="${'Requested by : ' + albumRequest.getUserMakingRequest().firstname + ' ' + albumRequest.getUserMakingRequest().lastname}">User: Undefined</p>
                                    <p th:text="${'Title: ' + albumRequest.getAlbum().getName()}">Title: Wedding album</p>
                                    <p th:text="${'Date created: ' + albumRequest.getAlbum().getDate_created()}">Date created: 02/09/2020</p>
                                    <p th:text="${albumRequest.getAlbum().getAlbum_images().size() + ' images'}">0 images</p>
                                </div>
                            </div>
                            <div class="album-short-info-div2">
                                <div class="people-item-buttons">
                                    <input class="profile-buttons" type="submit" th:onclick="'shareAlbum(' +${albumRequest.getUserMakingRequest().getId()} + ',' +  ${albumRequest.getAlbum().getId()} + ',' + ${albumRequest.getAlbumShareRequestId()} + ')'" value="Share">
                                    <input class="profile-buttons" type="submit" th:onclick="'rejectAndDeleteAlbumRequest(' + ${albumRequest.getAlbumShareRequestId()} + ')'" value="Delete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--IMAGES SENT BY OTHERS-->
        <div class="title-outer-container">
            <div class="user-list-title">
                <h6>Images shared by other users</h6>
            </div>
        </div>
        <div class="request-container">
            <div id="imagesSentToUser" class="people-list-container share-request-container">
                <div class="main-content-placeholder" th:if="${#lists.size(imagesSharedByOthers)==0}">
                    <img class="placeholder-icon" src="../static/web/images/tag.png" th:src="@{/web/images/tag.png}" alt="Empty state image">
                    <p>No images were sent to you</p>
                </div>

                <div class="people-list-container" th:unless="${#lists.size(imagesSharedByOthers) == 0}">
                    <div class="user-info-wrapper" th:each="imageSendRequest : ${imagesSharedByOthers}">
                        <div class="shared-image-container">
                            <img th:src="@{${'/web/home/image/' + imageSendRequest.getImage().getImageId()}}" class="shared-image" alt="Image" />
                        </div>
                        <div class="people-item-descr-wrapper item-with-icon">
                            <p>Sender</p>
                            <div class="image-outer-area-top-bar">
                                <div class="image-inner-area-top-bar">
                                    <img th:if="${imageSendRequest.getSender().getUser_image() != null}" class="profile-image"
                                         th:src="@{${'/web/people/getUserProfileImg/' + imageSendRequest.getSender().getId()}}" alt="Profile image">
                                    <img th:unless="${imageSendRequest.getSender().getUser_image() != null}" class="profile-image"
                                         src="../static/web/images/default_profile_pic.png" th:src="@{/web/images/default_profile_pic.png}" alt="Profile image">
                                </div>
                            </div>
                        </div>
                        <div class="people-item-descr-wrapper">
                            <p>Sender's name</p>
                            <h6 th:text="${imageSendRequest.getSender().getFirstname()} + ' ' + ${imageSendRequest.getSender().getLastname()}">Full Name</h6>
                        </div>
                        <div class="people-item-descr-wrapper">
                            <p>Date registered</p>
                            <h6 th:text="${imageSendRequest.getSender().getDate()}">Date</h6>
                        </div>
                        <div class="people-item-buttons">
                            <input class="profile-buttons" type="submit" th:onclick="'acceptAndSaveImage(' + ${imageSendRequest.getImageToSendRequestId()} + ')'" value="Save image">
                            <input class="profile-buttons" type="submit" th:onclick="'deleteImageShareRequest(' + ${imageSendRequest.getImageToSendRequestId()} + ')'" value="Delete">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ALBUMS SENT BY OTHERS-->
        <div class="title-outer-container">
            <div class="user-list-title">
                <h6>Albums shared by other users</h6>
            </div>
        </div>
        <div class="request-container">
            <div id="albumsSentToUser" class="people-list-container share-request-container">
                <div class="main-content-placeholder" th:if="${#lists.size(albumsSharedByOthers)==0}">
                    <img class="placeholder-icon" src="../static/web/images/tag.png" th:src="@{/web/images/tag.png}" alt="Empty state image">
                    <p>No albums were sent to you</p>
                </div>

                <div class="people-list-container" th:unless="${#lists.size(albumsSharedByOthers) == 0}">
                    <div class="album-item" th:each="albumSendRequest : ${albumsSharedByOthers}">
                        <div class="album-cover" th:if="${#lists.size(albumSendRequest.getAlbum().getAlbum_images()) < 3}">
                            <img class="display-image album-cover-main-img" src="../static/web/images/album.jpg" th:src="@{/web/images/album.jpg}" th:if="${#lists.size(albumSendRequest.getAlbum().getAlbum_images()) == 0}">
                            <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumSendRequest.getAlbum().getAlbum_images().get(0).getImageId()}}" th:unless="${#lists.size(albumSendRequest.getAlbum().getAlbum_images()) == 0}">
                        </div>
                        <div class="album-cover album-cover-multiple" th:if="${#lists.size(albumSendRequest.getAlbum().getAlbum_images()) >= 3}">
                            <div class="album-cover-main-img-container">
                                <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumSendRequest.getAlbum().getAlbum_images().get(0).getImageId()}}">
                            </div>
                            <div class="album-cover-multiple-imgs">
                                <div class="album-cover-small-img">
                                    <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumSendRequest.getAlbum().getAlbum_images().get(1).getImageId()}}">
                                </div>
                                <div class="album-cover-small-img">
                                    <img class="display-image album-cover-main-img" th:src="@{${'/web/albums/images/' + albumSendRequest.getAlbum().getAlbum_images().get(2).getImageId()}}">
                                </div>
                            </div>
                        </div>
                        <div class="album-short-info">
                            <div class="album-short-info-div1">
                                <div class="album-short-info-details">
                                    <p th:text="${'Title: ' + albumSendRequest.getAlbum().getName()}">Title: Wedding album</p>
                                    <p th:text="${'Date created: ' + albumSendRequest.getAlbum().getDate_created()}">Date created: 02/09/2020</p>
                                    <p th:text="${albumSendRequest.getAlbum().getAlbum_images().size() + ' images'}">0 images</p>
                                </div>
                            </div>
                            <div class="album-short-info-div2">
                                <div class="people-item-buttons">
                                    <input class="profile-buttons" type="submit" th:onclick="'acceptAndSaveAlbum(' + ${albumSendRequest.getAlbumToSendRequestId()} + ')'" value="Save album">
                                    <input class="profile-buttons" type="submit" th:onclick="'deleteAlbumShareRequest(' + ${albumSendRequest.getAlbumToSendRequestId()} + ')'" value="Delete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---->
    </div>
</div>
<script src="../static/web/js/jquery-3.6.0.js" th:src="@{/web/js/jquery-3.6.0.js}"></script>
<script th:src="@{/web/js/bootstrap.min.js}"></script>
<script>
    'use strict';

    const images_sent_to_user_container = document.getElementById("imagesSentToUser");
    const successMsgBox = document.getElementById("successMsg");
    // successMsgBox.style.display = 'none';


    function showSuccessMsg(){
        setTimeout(() => {
            //removes element from DOM
            successMsgBox.style.display = 'none';
        }, 2000);
    }


    const successMsgText = document.getElementById("success-msg-text");
    const token = $("meta[name='_csrf']").attr("content");

    function acceptAndSaveImage(requestId){
        $.ajax({
            type: "POST",
            url: '/web/requests/accept-and-save-image/?requestId=' + requestId,
            contentType : "application/json",
            dataType: "text",
            headers: {"X-CSRF-TOKEN" : token},
            success: function () {
                $('#imagesSentToUser').load(" #imagesSentToUser");
                successMsgBox.style.display = "flex";
                successMsgText.innerText = "Image has been saved"
                showSuccessMsg()
            }
        });
    }

    function deleteImageShareRequest(requestId){
        $.ajax({
            type: "GET",
            url: '/web/requests/delete-image-request/?requestId=' + requestId,
            contentType : "application/json",
            dataType: "text",
            headers: {"X-CSRF-TOKEN" : token},
            success: function () {
                $('#imagesSentToUser').load(" #imagesSentToUser");
                successMsgBox.style.display = "flex";
                successMsgText.innerHTML = "Request has been deleted"
                showSuccessMsg()
            }
        });
    }

    function acceptAndSaveAlbum(requestId){
        $.ajax({
            type: "POST",
            url: '/web/requests/accept-and-save-album/?requestId=' + requestId,
            contentType : "application/json",
            dataType: "text",
            headers: {"X-CSRF-TOKEN" : token},
            success: function () {
                $('#albumsSentToUser').load(" #albumsSentToUser");
                successMsgBox.style.display = "flex";
                successMsgText.innerText = "Album has been saved"
                showSuccessMsg()
            }
        });
    }

    function deleteAlbumShareRequest(requestId){
        $.ajax({
            type: "GET",
            url: '/web/requests/delete-album-request/?requestId=' + requestId,
            contentType : "application/json",
            dataType: "text",
            headers: {"X-CSRF-TOKEN" : token},
            success: function () {
                $('#albumsSentToUser').load(" #albumsSentToUser");
                successMsgBox.style.display = "flex";
                successMsgText.innerHTML = "Request has been deleted"
                showSuccessMsg()
            }
        });
    }

    function shareAlbum(requestMakerId, albumId, requestId){
        $.ajax({
            type: "POST",
            url: '/web/requests/share-album/to/?userId=' + requestMakerId + '&albumId=' + albumId + '&requestId=' + requestId,
            contentType : "application/json",
            dataType: "text",
            headers: {"X-CSRF-TOKEN" : token},
            success: function () {
                location.reload();
            }
        });
    }

    function rejectAndDeleteAlbumRequest(requestId){
        $.ajax({
            type: "GET",
            url: '/web/requests/delete-album-request-asked-by-user/?requestId=' + requestId,
            contentType : "application/json",
            dataType: "text",
            headers: {"X-CSRF-TOKEN" : token},
            success: function () {
                location.reload();
            }
        });
    }
</script>
</body>
</html>