<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Sora:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
    <script defer src="../static/css/fontawesome-5.15.4-web/js/all.js"></script>
    <script defer src="../static/css/fontawesome-5.15.4-web/js/brands.js.js"></script>
    <script defer src="../static/css/fontawesome-5.15.4-web/js/solid.js.js"></script>
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/all.css" th:href="@{/css/fontawesome-5.15.4-web/css/all.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/fontawesome.css" th:href="@{/css/fontawesome-5.15.4-web/css/fontawesome.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/brands.css" th:href="@{/css/fontawesome-5.15.4-web/css/brands.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-5.15.4-web/css/solid.css" th:href="@{/css/fontawesome-5.15.4-web/css/solid.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css"  th:href="@{/css/home.css}">
    <!--    <script src="../static/js/home.js"></script>-->
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>
<body onload="document.body.style.opacity='1'">

<div class="content">
    <div class="side-nav">
        <div class="side-nav-title">
            <h3>Gallery</h3>
        </div>
        <div class="nav-user-info">
            <div class="image-outer-area-top-bar">
                <div class="image-inner-area-top-bar">
                    <img th:if="${authUser.getUser_image() != null}" class="profile-image"
                         th:src="@{'/profile/getUserProfileImg'}" alt="Profile image">
                    <img th:unless="${authUser.getUser_image() != null}" class="profile-image"
                         src="../static/images/default_profile_pic.png" th:src="@{/images/default_profile_pic.png}" alt="Profile image">
                </div>
            </div>
            <div class="nav-user-details">
                <p class="nav-greeting">Hello <span th:text="${authUser.firstname}"></span></p>
                <p class="nav-user-id-color">User #<span class="nav-user-id" th:text="${authUser.id}"></span></p>
            </div>
        </div>
        <ul>
            <li><a th:href="@{/home}"><i class="far fa-images side-nav-icons"></i>Photos</a></li>
            <li><a th:href="@{/albums}"><i class="far fa-folder-open side-nav-icons"></i>Albums</a></li>
            <li><a th:href="@{/requests}"><i class="far fa-question-circle side-nav-icons"></i><span>Requests</span></a></li>
            <li><a th:href="@{/received-files}"><i class="fas fa-share-alt side-nav-icons"></i><span>Received files</span></a></li>
            <li><a th:href="@{/friends}"><i class="fas fa-user-friends side-nav-icons"></i>Friends</a></li>
            <li><a th:href="@{/people}"><i class="fas fa-users side-nav-icons"></i>People</a></li>
            <li><a th:href="@{/profile}"><i class="far fa-address-card side-nav-icons"></i>Profile</a></li>
        </ul>
    </div>
    <div class="main-content" id="main-parent">
        <div class="home-title-bar nav-with-tabs sticky-top">
            <div class="navigation-tabs">
                <button class="nav-tab" data-for-tab="1">Gallery</button>
                <button class="nav-tab" data-for-tab="2">Albums</button>
                <button class="nav-tab" data-for-tab="3">Profile</button>
            </div>
            <div id="home-title-bar-menu">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button class="home-title-bar-buttons edit-cred-btn" type="submit" id="logout-btn">Logout</button>
                </form>
            </div>
        </div>


        <!--USER'S GALLERY CONTENT-->
        <div class="main-content-page-container" data-tab="1">
            <div class="main-content-placeholder" th:if="${#lists.size(userPhotos)==0}">
                <!--                <i class="far fa-images fa-3x placeholder-icon"></i>-->
                <img class="placeholder-icon" src="../static/images/folder_images.png" th:src="@{/images/folder_images.png}" alt="Empty state image">
                <p th:text="${user.getFirstname() + ' s gallery is empty'}"></p>
            </div>

            <div class="title-outer-container" th:unless="${#lists.size(userPhotos) == 0}">
                <div class="user-list-title">
                    <h5 th:text="${user.getFirstname() + '''s gallery'}">Users gallery</h5>
                </div>
            </div>

            <div th:unless="${#lists.size(userPhotos) == 0}" class="outer-container-for-images">
                <div class="image-container" th:each="img : ${userPhotos}">
                    <img class="display-image" th:src="@{${'/home/image/' + img.getImageId()}}" onclick="openLightbox();toSlide(this)" alt="">
                </div>
            </div>
        </div> <!--USER'S GALLERY CONTENT END-->

        <!--USER'S ALBUMS CONTENT-->
        <div class="main-content-page-container" id="users-album-tab" data-tab="2">
            <div class="main-content-placeholder" th:if="${#lists.size(userAlbums)==0}">
                <img class="placeholder-icon" src="../static/images/folder.png" th:src="@{/images/folder.png}" alt="Empty state image">
                <p th:text="${user.getFirstname() + ' has not created an album yet'}"></p>
            </div>

            <div class="title-outer-container" th:unless="${#lists.size(userAlbums) == 0}">
                <div class="user-list-title">
                    <h5 th:text="${user.getFirstname() + '''s albums'}">User's albums</h5>
                </div>
            </div>

            <div th:unless="${#lists.size(userAlbums) == 0}" class="outer-album-container">
                <div class="album-item" th:each="album : ${userAlbums}">
                    <div class="album-cover" th:if="${#lists.size(album.getAlbum_images()) < 3}">
                        <img class="display-image album-cover-main-img" src="../static/images/album.jpg" th:src="@{/images/album.jpg}" th:if="${#lists.size(album.getAlbum_images()) == 0}">
                        <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + album.getAlbum_images().get(0).getImageId()}}" th:unless="${#lists.size(album.getAlbum_images()) == 0}">
                    </div>
                    <div class="album-cover album-cover-multiple" th:if="${#lists.size(album.getAlbum_images()) >= 3}">
                        <div class="album-cover-main-img-container">
                            <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + album.getAlbum_images().get(0).getImageId()}}">
                        </div>
                        <div class="album-cover-multiple-imgs">
                            <div class="album-cover-small-img">
                                <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + album.getAlbum_images().get(1).getImageId()}}">
                            </div>
                            <div class="album-cover-small-img">
                                <img class="display-image album-cover-main-img" th:src="@{${'/albums/images/' + album.getAlbum_images().get(2).getImageId()}}">
                            </div>
                        </div>
                    </div>
                    <div class="album-short-info">
                        <div class="album-menu-options" id="t">
                            <ul>
                                <li><a th:href="@{/user/album-gallery/(userId=${user.getId()}, albumId=${album.getId()})}"><i class="far fa-eye"></i>View</a></li>
                                <li><a href=""><i class="fas fa-share"></i>Share request</a></li>
                            </ul>
                        </div>
                        <div class="album-short-info-div1">
                            <div class="album-short-info-details">
                                <p th:text="${'Title: ' + album.getName()}">Title: Wedding album</p>
                                <p th:text="${'Date created: ' + album.getDate_created()}">Date created: 02/09/2020</p>
                                <p th:text="${album.getAlbum_images().size() + ' images'}">0 images</p>
                            </div>
                            <div class="album-short-info-details">
                                <i class="fas fa-ellipsis-v album-item-dot-icon" onclick ="showAlbumMenu(this);"></i>
                            </div>
                        </div>
                        <div class="album-short-info-div2">
                            <span th:text="${album.getAlbumAccessType()}">Public</span>
                            <div class="album-short-info-buttons">
                                <a th:href="@{/user/album-gallery/(userId=${user.getId()}, albumId=${album.getId()})}" type="button">View album</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--USER'S ALBUMS CONTENT END-->

        <!--USER'S PROFILE CONTENT-->
        <div class="main-content-page-container" data-tab="3">
            <div class="profile-outer-container">
                <div class="profile-inner-container">
                    <div class="profile-image-wrapper">
                        <div class="image-outer-area">
                            <div class="image-inner-area">
                                <img th:if="${user.getUser_image() != null}" class="profile-image"
                                     th:src="@{'/people/getUserProfileImg/' + ${user.getId()}}" alt="Profile image">
                                <img th:unless="${user.getUser_image() != null}" class="profile-image"
                                     src="../static/images/default_profile_pic.png" th:src="@{/images/default_profile_pic.png}" alt="Profile image">
                            </div>
                        </div>
                    </div>
                    <div class="profile-info">
                        <div class="profile-info-inner-wrapper">
                            <div id="profile-user-name-wrapper">
                                <h3 th:text="${user.getFirstname() + ' '}">Username</h3>
                                <h3 th:text="${user.getLastname()}">Lastname</h3>
                            </div>
                            <div id="user-stats">
                                <div class="user-stats-container">
                                    <p th:text="${user.getImages().size() + ' photos'}">0 photos</p>
                                </div>
                                <div class="user-stats-container">
                                    <p th:text="${user.getAlbums().size() + ' albums'}">0 albums</p>
                                </div>
                                <div class="user-stats-container">
                                    <p th:text="${users_number_of_friends + ' friends'}">0 friends</p>
                                </div>
                            </div>
                            <h5 th:text="'About ' + ${user.firstname}">About user</h5>
                            <div th:if="${user.getAbout_info() == null}">
                                <p th:text="${user.getFirstname() + ' has not written anything here yet...'}" class="paragraph-color"></p>
                            </div>
                            <div th:unless="${user.getAbout_info() == null}">
                                <p th:text="${user.getAbout_info()}" class="paragraph-color"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--USER'S PROFILE CONTENT END-->

    </div> <!--END OF MAIN CONTENT-->
</div>

<div id="Lightbox" class="image-modal">
    <a class="close pointer" onclick="closeLightbox()">
        <i class="fas fa-times fa-1x"></i>
    </a>
    <div class="image-modal-outer">
        <div class="image-modal-content-images">
            <div class="slide" th:each="img : ${userPhotos}">
                <a class="previous" onclick="changeSlide(-1)"><i class="fas fa-caret-left fa-2x"></i></a>
                <a class="next" onclick="changeSlide(1)"><i class="fas fa-caret-right fa-2x"></i></a>
                <div class="image-options">
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <img th:src="@{${'/home/image/' + img.getImageId()}}" class="image-slide" alt="Image" />
                <!--                    <img src="../static/images/album.jpg" class="image-slide" alt="">-->
            </div>
        </div>
        <div class="image-modal-content-info">
            <div class="image-modal-content-info-tabs-container">
                <button type="button" id="img_modal_img_details_btn" class="image-modal-content-info-tab edit-cred-btn placeholder-create-btn">Image details</button>
                <button type="button" id="img_modal_img_comments_btn" class="image-modal-content-info-tab edit-cred-btn placeholder-create-btn">Comments</button>
            </div>
            <div class="image-modal-content-img-details" th:each="img : ${userPhotos}">
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Title</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${img.getImage_name()}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Date uploaded</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${img.getDate_uploaded()}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Image size</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${img.getImage_size() + ' Kb'}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Category</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${img.getCategory()}">No data available</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Tagged friends</p>
                    <p class="image-modal-content-img-details-item-content">No friends tagged</p>
                </div>
                <div class="image-modal-content-img-details-item">
                    <p class="image-modal-content-img-details-item-heading">Comment</p>
                    <p class="image-modal-content-img-details-item-content" th:text="${img.getComment()}">No data available</p>
                </div>
            </div>
            <div class="image-modal-content-comments" th:each="img : ${userPhotos}">
                <div th:id="'comments_container' + ${img.getImageId()}" class="image-modal-content-comments-container comments_container">
                    <div class="image-modal-content-comment-outer" th:each="comm : ${img.getImageComments().getComments()}">
                        <div class="image-outer-area-top-bar comment-item-profile-image">
                            <div class="image-inner-area-top-bar">
                                <img th:if="${comm.getSender().getUser_image() != null}" class="profile-image"
                                     th:src="@{${'/people/getUserProfileImg/' + comm.getSender().getId()}}" alt="Profile image">
                                <img th:unless="${comm.getSender().getUser_image() != null}" class="profile-image"
                                     src="../static/images/default_profile_pic.png" th:src="@{/images/default_profile_pic.png}" alt="Profile image">
                            </div>
                        </div>
                        <div class="image-modal-content-comment-inner">
                            <p class="image-comment-sender-name" th:text="${comm.getSender().getFirstname() + ' ' + comm.getSender().getLastname()}">John Doe</p>
                            <p class="image-comment-text" th:text="${comm.getMessage()}">Comment</p>
                        </div>
                    </div>
                </div>
                <div class="image-modal-content-send-message-container">
                    <form class="image-comment-add-form" action="#" method="post">
                        <textarea class="comment" placeholder="Type comment..."></textarea>
                        <button type="button" class="home-title-bar-buttons add-comment-buttons" th:onclick="'addCommentFor(' + this + ',' +${img.getImageId()} +  ')'" id="msg-send-btn">Send</button> <!--th:onclick="'addComment(' + ${img.getImageId()} +  ')'"-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>

    function setupTabs(){
        document.querySelectorAll(".nav-tab").forEach(tab => {
            tab.addEventListener("click", () => {
                const sidebar = tab.parentElement;
                const tabsContainer = sidebar.parentElement;
                const tabNum = tab.dataset.forTab;
                const main_parent = document.getElementById("main-parent");
                //const tabToActivate = tabsContainer.querySelector(`.main-content-page-container[data-tab="${tabNum}"]`);
                const tabToActivate = main_parent.querySelector(`.main-content-page-container[data-tab="${tabNum}"]`);

                console.log(sidebar);
                console.log(tabsContainer);
                console.log(tabNum);
                console.log(tabToActivate);

                sidebar.querySelectorAll(".nav-tab").forEach(tab => {
                    tab.classList.remove("nav-tab-active");
                });

                main_parent.querySelectorAll(".main-content-page-container").forEach(content => {
                    console.log("FIRED");
                    content.classList.remove("tab-content-active");
                });

                tab.classList.add("nav-tab-active");
                tabToActivate.classList.add("tab-content-active");

            });
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        setupTabs();

        document.querySelectorAll(".nav-with-tabs").forEach(tabsContainer => {
            tabsContainer.querySelector(".navigation-tabs .nav-tab").click();
        });
    });

    // function openTab(event, contentName){
    //     let content_container;
    //     let nav_tabs;
    //     let current_tab;
    //
    //     content_container = document.getElementsByClassName("main-content-page-container");
    //     nav_tabs = document.getElementsByClassName("nav-tab");
    //
    //     // for(let i = 0;i < content_container.length;i++){
    //     //     if(content_container[i] === el){
    //     //         current_tab = content_container[i];
    //     //     }
    //     // }
    //
    //     for(let i = 0;i < content_container.length;i++){
    //         content_container[i].style.display = "none";
    //     }
    //
    //     for(let i = 0;i < nav_tabs.length;i++){
    //         nav_tabs[i].className = nav_tabs[i].className.replace(" active", "");
    //     }
    //
    //     document.getElementById(contentName).style.display = "flex";
    //     event.currentTarget.className += " active";
    //
    // }

    let dots = document.getElementsByClassName("album-item-dot-icon");
    let menus = document.getElementsByClassName("album-menu-options");
    let menu;

    function showAlbumMenu(img) {
        for(let i = 0;i < dots.length;i++){
            menu = menus[i];
            if(dots[i] === img){
                $(menu).toggle( "fast", function() {});
            }
        }
    }

    function closeWindow(elementId){
        document.getElementById(elementId).style.display = "none";
    }

    const image_modal_img_details_btn = document.getElementById("img_modal_img_details_btn");
    const image_modal_img_comments_btn = document.getElementById("img_modal_img_comments_btn");

    const slides = document.getElementsByClassName('slide');
    let image_details_list = document.getElementsByClassName('image-modal-content-img-details');
    let image_comments_list = document.getElementsByClassName('image-modal-content-comments');

    const add_comment_btn = document.getElementsByClassName('add-comment-buttons');


    function revealMenu(imageId){
        const el = document.getElementsByClassName("image-menu")[imageId-1];
        if(el.style.visibility === "hidden"){
            el.style.visibility = "visible";
        } else{
            el.style.visibility = "hidden";
        }
    }

    // Initializing and running showSlide() to give a lightbox a default state.

    let imageList = document.getElementsByClassName('display-image');
    let imageContainerLIST = document.getElementsByClassName('image-container');
    let im;

    let slideIndex = 0;
    //showSlide(slideIndex);


    console.log(slideIndex);
    //Clickable content functionality

    function openLightbox() {
        document.getElementById('Lightbox').style.display = 'flex';
    }

    function closeLightbox() {
        document.getElementById('Lightbox').style.display = 'none';
    }

    // New values are assigned to slideIndex.

    function changeSlide(n) {
        showSlide(slideIndex += n);
    }

    function toSlide(n) {
        for(let i = 0;i < imageList.length;i++){
            if(imageList[i] === n){
                slideIndex = i;
                //alert("SLIDEINDEX " + slideIndex)
                showSlide(slideIndex);
            }
        }
    }

    image_modal_img_details_btn.addEventListener('click', function (){
        image_comments_list[slideIndex].style.display = "none";
        image_details_list[slideIndex].style.display = "flex";
    })

    image_modal_img_comments_btn.addEventListener('click', function (){
        image_details_list[slideIndex].style.display = "none";
        image_comments_list[slideIndex].style.display = "flex";
    })

    //Lightbox logic. Decides which image to show and which bottom image is active

    function showSlide(n) {

        if (n > slides.length-1) {
            //slideIndex = slides.length % n;
            slideIndex = 0;
        }

        if (n < 0) {
            slideIndex = slides.length -1;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            image_details_list[i].style.display = "none";
            image_comments_list[i].style.display = "none";
        }

        slides[slideIndex].style.display = 'block';
        image_details_list[slideIndex].style.display = "flex";
        image_comments_list[slideIndex].style.display = "none";
    }


    const fo = document.getElementsByClassName('image-comment-add-form');
    const comment = document.getElementsByClassName('comment');
    const comment_id = document.getElementsByClassName("comment_id");
    const comment_item = document.getElementsByClassName('image-modal-content-comment-outer');
    const token = $("meta[name='_csrf']").attr("content");

    const add_image_comment_btn = document.getElementById("msg-send-btn");
    const comments_container = document.getElementsByClassName("comments_container");
    const empty_state_item = document.getElementsByClassName("comments_empty_state");
    const image_content_ = document.getElementsByClassName("image-modal-content-comments");
    let opened_image_id;

    let comments_container_;
    let comment_btn;
    let image_content;
    let comment_index;
    let empty;
    function addCommentFor(buttonIndex,imageId){
        let image_comment;
        for(let i = 0;i < add_comment_btn.length;i++){
            if(add_comment_btn[i] === buttonIndex){
            }
        }
        comments_container_ = comments_container[slideIndex];
        comment_index = comment[slideIndex];
        image_comment = {
            comment : comment_index.value
        }

        alert(`SLIDEINDEX ${slideIndex}`)
        const com_cont = "#comments_container" + imageId;

        event.preventDefault();
        $.ajax({
            type: "POST",
            url: '/home/add-comment-to-an-image/' + imageId,//do not put the full url,you need use an absolute urlcontentType : "application/json",,
            contentType : "application/json",
            dataType: "json",
            data: JSON.stringify(image_comment),
            headers: {"X-CSRF-TOKEN" : token},
            success: function (data) {
                if(data.message !== ''){
                    $(com_cont).load(" " + com_cont);
                }
            }
        });

        comment_index.value = '';
    }
</script>
</body>
</html>